<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>orm queries</title>
</head>
<body>
      <table border="1">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Age</th>
                <th>Subject</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ Details.id }}</td>              
                <td>{{ Details.name }}</td>
                <td>{{ Details.age }}</td>
                <td>{{ Details.subject }}</td>
            </tr>
        </tbody>
    </table>
</body>
</html>