<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style1.css' %}">
    <script src="{% static 'Js/1.script.js' %}"></script>

</head>
<body>
    <p class="first">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Adipisci, omnis maiores! Sit ea numquam minus laboriosam. Culpa rerum id <br>excepturi exercitationem, veritatis rem deserunt nemo sapiente harum corporis possimus doloribus?Lorem ipsum dolor sit amet consectetur, <br>adipisicing elit. Quae magni reiciendis animi, voluptate doloremque laudantium delectus eaque dolores nobis iste veritatis ducimus odio adipisci? Fugiat facilis id ab neque non!</p>
    <h4 class="second">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laudantium necessitatibus quaerat labore non, est voluptas voluptates quo consequatur quisquam velit optio illum. Esse, sunt minus ad illo ex quia facilis.</h4>
    <img src="{% static 'Images/dxf91zhqd2z6b0bwg85ktm5s4.svg' %}" alt="">


    <button onclick="abc()">click me</button>
</body>
</html>